:root {
  --text-color: #fff;
  --bg-url: url(../img/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.5);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-icon-url: url(../svg/sun.svg);
}

.light {
  --text-color: #000;
  --bg-url: url(../img/bg-mobile-light.png);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.5);
  --highlight-color: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background: color image repeat position/size*/
  background: var(--bg-url) no-repeat top center/cover;
  color: var(--text-color);
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: 588px;
  margin: 0 auto;
  margin: 56px auto 0px;
  padding: 0 24px;
}

.profile {
  text-align: center;
  padding: 24px;
}

.profile__img {
  width: 140px;
  border-radius: 50%;
  padding: 16px;
  border: 1px solid red;
}

.profile__name {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

.profile__username {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

.switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

.switch__track {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
  -webkit-backdrop-filter: blur(4px);
}

.switch__btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: #fff var(--switch-icon-url) no-repeat center;
  border: 0;
  border-radius: 50%;
}

.light .switch .switch__btn {
  right: 0;
  left: initial;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 24px 0;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;

  text-decoration: none;
  font-weight: 500;
  padding: 16px 24px;

  color: var(--text-color);
  background: var(--surface-color);

  border-radius: 999px;
  border: 1px solid var(--stroke-color);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  transition: background 0.3s ease;
}

.links__link-icon {
  width: 24px;
  height: 24px;
  padding-right: 8px;
}

.links__link:hover {
  border: 1px solid var(--text-color);
  background: var(--surface-color-hover);
}


.social {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

.social__link {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.social__link:hover {
  background: var(--highlight-color);
}

.footer {
  padding: 24px 0;
  text-align: center;
}

.footer__paragraph {
  font-size: 14px;
  color: var(--text-color);
}

@media (max-width: 480px) {
.container {
  width: 100%;
  max-width: 340px;
}

  .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px 0;

  }
  .links__link {
   width: auto;
  }

  .links__link-text {
    display: none;
  }

  .links__link-icon {
    padding-right: 0px;
  }
}


@media (min-width: 700px) {
  :root {
    --bg-url: url(../img/bg-desktop-dark.png);
  }

  .light {
    --bg-url: url(../img/bg-desktop-light.jpg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}
